
.wrapper {
    padding: 5.5vw 0.5vw 0.5vw 0.5vw;
    background-color: white;
}

#header {
    display: flex;
    align-items: center;
    padding: 0vw 1vw;
    background-color: #284450;
    color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

#header .logo-ams {
    padding: 0.2vw;
    width: 14.5vw;
}

#header .news-title {
    padding: 0.5vw;
    font-size: 1.4vw;
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-weight: 400;
}

#header .news-title::after {
    content: "|";
    color: white;
    padding-left: 2.5vw;
    font-weight: 500;
}

#header .navbar .navbar-list {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding-left: 2vw;
}

#header .navbar .navbar-list li {
    padding-right: 4vw;
    font-family: 'Montserrat';
}

#header .navbar .navbar-list li a {
    font-size: 1.3vw;
    color: white;
}

#header .navbar .navbar-list li a:hover {
    text-decoration: none;
    color: darkorange;
}

/* SEARCH BAR */
#search-bar { 
    padding: 1.2vw;
    margin: 1vw 2vw 1vw;
    background-color: 005eb8;
    color: white;
}

.search-bar-1 {
    display: flex;
    align-items: center;
}

.search-bar-1 h5 {
    font-size: 1.2vw;
    margin-right: 1.5vw;
    margin-bottom: 0;
}

.search-bar-1 input {
    font-size: 1.1vw;
    padding: 0.3vw 0.5vw;
    width: 20vw;
    border: 0;
}

.search-bar-1 button {
    border-radius: 0;
    width: 3.3vw;
    height: 2.28vw;
}

.search-bar-1 button i {

}

.search-bar-2 {
    display: flex;
    align-items: center;
}

.search-bar-2 h5 {
    font-size: 1.2vw;
    margin-right: 1.5vw;
    margin-bottom: 0;
}

.search-bar-2 input {
    font-size: 1.1vw;
    padding: 0.3vw 0.5vw;
    width: 20vw;
    border: 0;
}

.search-bar-2 button {
    border-radius: 0;
    width: 3.3vw;
    height: 2.28vw;
}

/* TOP NEWS */
#top-news {
    margin: 2vw 2vw 1vw;
    display: flex;
}

.breaking-news-title {
    font-size: 1.5vw;
    font-weight: bold;
}

.top-news-left-side {
    flex: 0 0 55%;
    max-width: 55%;
    padding-right: 1.6vw;
}

.top-news-left-side .breaking-news {
    /* background: url("../img/sinovac.jpg") no-repeat; */
    /* width: 50vw; */
    height: 26.3vw;
    /* background-size: cover; */
    position: relative;
}

.carousel-inner {
    width: 50vw;
    height: 26.3vw;
}

.carousel-inner .d-block {
    width: 100%;
}

.carousel-inner .carousel-item {
    height: 100%;
}

.careousel-inner .carousel-item img:hover {
    color: darkorange;
}

.carousel-inner .carousel-item h6 {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.4vw;
    color: white;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.5vw;
}

.carousel-inner .carousel-item h6:hover {
    color: darkorange;
}

/* .breaking-news-headline {
    position: absolute;
    bottom: 0;
    width: 100%;
    bottom: 0;
    padding: 1.5vw;
} */

/* .breaking-news-headline h6 {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.4vw;
    color: white;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    padding: 1.5vw;
} */

.berita-terkait {
    background-color: skyblue;
    padding: 0.5vw 1vw;
}

.berita-terbaik-title {
    font-weight: bold;
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
}

.berita-terkait-content p {
    margin-bottom: 0.2vw;
    font-size: 1.1vw;
    margin-right: 2vw;
}

.berita-terkait-content a {
    color: black;
}

.berita-terkait-content a:hover{
    color: crimson;
}



.berita-terkait-content {
    display: flex;
}

.top-news-right-side {
    flex: 0 0 45%;
    max-width: 45%;
}

.latest-trending-news-title {
    display: flex;
    width: 100%;
}

.latest-trending-news-title button {
    width: 50%;
    border: 0.1vw solid black;
    background-color: transparent;
    font-size: 1.3vw;
}

.latest-trending-news-title button:hover {

}

.latest-news-1, .latest-news-2, .latest-news-3 {
    display: flex;
    margin-top: 1.5vw;
    margin-bottom: 2.7vw;
}

.latest-news-1 p, .latest-news-2 p, .latest-news-3 p {
    font-size: 1.25vw;
    margin-left: 1vw;
}

.latest-news-1 a, .latest-news-2 a, .latest-news-3 a {
    color: black;
    position: relative;
}

.latest-news-1 a:hover, .latest-news-2 a:hover, .latest-news-3 a:hover {
    text-decoration: none;
    color: crimson;
}

.latest-news-1-img, .latest-news-2-img, .latest-news-3-img {
    width: 15vw;
    height: auto;
}

.latest-news-1-pubdate, .latest-news-2-pubdate, .latest-news-3-pubdate {
    bottom: 0;
    position: absolute;
    margin-bottom: 0;
}

/* CATEGORY NEWS / MID NEWS */
#mid-news {
    margin: 0vw 2vw 0vw;
    padding: 1.7vw 1vw 1.7vw;
    background-color: E9EcEF;
}

#mid-news .col-3 {
    /* padding-left: 0 !important; */
    /* padding: 0; */
    /* margin-right: 15px;
    margin-left: 15px; */
}

#mid-news h5 {
    font-size: 1.5vw;
}

.cat1-news-top {
    background: url("../img/covid-disease.jpg") no-repeat;
    height: 12.5vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cat2-news-top {
    background: url("../img/pfizer-vaccine.jpg") no-repeat;
    height: 12.5vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cat3-news-top {
    background: url("../img/treatment.webp") no-repeat;
    height: 12.5vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cat4-news-top {
    background: url("../img/therapy.png") no-repeat;
    height: 12.5vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cat1-news-top h6, .cat2-news-top h6, .cat3-news-top h6, .cat4-news-top h6 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    bottom: 0;
    padding: 0.8vw;
    margin-bottom: 0;
    /* color: white; */
    font-weight: normal;
    font-size: 1.2vw;
}

.cat1-news-top a, .cat2-news-top a, .cat3-news-top a, .cat4-news-top a {
    /* text-decoration: none; */
    color: white;
}

.cat1-news-top a:hover, .cat2-news-top a:hover, .cat3-news-top a:hover, .cat4-news-top a:hover {
    text-decoration: none;
    color: darkorange;
}

.cat1-news-mid, .cat2-news-mid, .cat3-news-mid, .cat4-news-mid {
    padding: 0.5vw 0.7vw 0.5vw 0.7vw;
    background-color: lightskyblue;
}

.cat1-news-mid h6, .cat2-news-mid h6, .cat3-news-mid h6, .cat4-news-mid h6 {
    font-size: 1.2vw;
}

.cat1-news-mid p, .cat2-news-mid p, .cat3-news-mid p, .cat4-news-mid p {
    font-size: 1.1vw; 
    margin-bottom: 0;
}

.cat1-news-mid a, .cat2-news-mid a, .cat3-news-mid a, .cat4-news-mid a {
    color:black;
}

.cat1-news-mid a:hover, .cat2-news-mid a:hover, .cat3-news-mid a:hover, .cat4-news-mid a:hover {
    color: crimson;
}

.cat1-news-bot, .cat2-news-bot, .cat3-news-bot, .cat4-news-bot {
    font-size: 1.05vw;
}

.cat1-news-bot ul, .cat2-news-bot ul, .cat3-news-bot ul, .cat4-news-bot ul {
    margin-top: 0.5vw;
    padding: 0vw 1.6vw;
    font-size: 1vw;
    list-style: circle;
}

.cat1-news-bot ul li a, .cat2-news-bot ul li a, .cat3-news-bot ul li a, .cat4-news-bot ul li a {
    color: black;
}

.cat1-news-bot ul li a:hover, .cat2-news-bot ul li a:hover, .cat3-news-bot ul li a:hover, .cat4-news-bot ul li a:hover {
    color: crimson;
}

/* NEWSLETTER SUBSCRIPTION */ 
#newsletter-sub {
    /* border: 0.2vw solid black; */
    padding: 2.2vw;    
    margin: 3vw 4vw 1vw;
    background-color: #EFF9FB;
    color: black;
}

.subscribe-newsletter-title {
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

.subscribe-content {
    display: flex;
}

.subscribe-content h6 {
    font-size: 1.2vw;
    font-weight: normal;
    margin-right: 1vw;
}

.subscribe-content .input-email-sub {
    font-size: 1.1vw;
    padding: 0vw 1vw 0vw 1vw;
    width: 45vw;
    margin: 0 0 2vw;
}

.subscribe-content .subscribe-btn {
    font-size: 1.1vw;
    padding: 0.5vw 0.7vw;
    margin: 0.35vw 0;
    margin: 0 0 2vw;
}

#newsletter-sub .subcribe-img {
    width: 15vw;
    margin-left: 3vw;
}

/* Popular News */ 
#bot-news {
    margin: 3.5vw 5vw 1vw;
}

#bot-news .col-3 {

}

#bot-news h6 {
    font-size: 1.3vw;
}

.popular-news-content {
    margin-top: 1vw;
}

.popular-news-content ul {
    padding-left: 0.5vw;
}

.popular-news-content ul ol {
    padding-left: 0vw;
    font-size: 1.2vw;
}

/* Footer */
#footer {
    display: flex;
    background-color: #284450;
    color: white;
    padding: 3vw;
    border-top: 0.7vw solid black;
}

#footer .logo-ams-footer {
    width: 20vw;
}

.logo-footer-container {
    padding-right: 12vw;
    padding-left: 1vw;
}

.category-footer a, .about-ams-footer a {
    color: white;
}

.category-footer a:hover, .about-ams-footer a:hover {
    text-decoration: none;
    color: darkorange;
}

.category-footer {
    padding-right: 5vw;
}

.category-footer h6 {
    font-size: 1.3vw;
    padding-bottom: 1vw;
}

.category-footer ul {
    padding-left: 1vw;
    list-style: none;
    font-size: 1.15vw;
}

.category-footer ul li {
    padding-bottom: 0.5vw;
}

.about-ams-footer {
    padding-right: 7vw;
}

.about-ams-footer h6 {
    font-size: 1.3vw;
    padding-bottom: 1vw;
}

.about-ams-footer ul {
    padding-left: 1vw;
    list-style: none;
    font-size: 1.15vw;
}

.about-ams-footer ul li {
    padding-bottom: 0.5vw;
}

.subscribe-footer {
}

.subscribe-footer h6 {
    font-size: 1.3vw;
    padding-bottom: 1vw;
}

.sub-choice-footer {
    display: flex;
    position: relative;
}

.sub-choice-footer p {
    margin-right: 6vw;
    font-size: 1.15vw;
}

.sub-choice-footer a {
    color: white;
}

.sub-choice-footer p:hover {
    cursor: pointer;
    text-decoration: none;
    color:darkorange;
}

.sub-choice-footer p:active {
    text-decoration: underline;
    color:darkorange;
}

.sub-choice-footer p:nth-child(-n+2)::after {
    content: "|";
    color: white;
    padding-left: 2.5vw;
    position: absolute;
}

.sub-email-footer input {
    padding: 0.3vw 1vw;
    font-size: 1.15vw;
    width: 27vw;
    border: 0;
}

.email-btn {
    border-style: none;
    height: 2.4vw;
    width: 4vw;
    background-color: deepskyblue;
}

.email-btn-footer {
    width: 2.4vw;
    height: 2.5vw;
}

.sub-email-footer ul {
    display: flex;
    list-style: none;
}

.sub-email-footer ul li {
    border-radius: 50%;
    display: block;
    padding: 1vw;
    text-align: center;
    height: 4vw;
    width: 4vw;
    margin: 2vw 1vw 0 0;
    background-color: #1C3641;
}

.social-links-footer .fa  {
    font: normal normal normal 2vw FontAwesome;
}

.social-links-footer li a {
    color: white;
}


.social-links-footer li a:hover {
    color: deepskyblue;
}



